<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @character.job %>
</p>

<p>
  <strong>Class:</strong>
  <%= @character.creature_class %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
