<!DOCTYPE html>
<html>
  <head>
    <title>LARPs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav">
        <li class="nav_item <%= active_class(scenarios_path) %>">
          <%= link_to "Scenarios", scenarios_path %>
        </li>
        <li class="nav_item <%= active_class(characters_path) %>"><%= link_to "Characters", characters_path %></li>
        <li class="nav_item <%= active_class(items_path) %>"><%= link_to "Items", items_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
